        <div id="fh5co-schedule-section" class="fh5co-lightgray-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>Nuestros locales</h2>
							<p>Tenemos los siguientes puntos en los cuales puedes disfrutar de nuestro servicio.</p>
						</div>
					</div>
					<div class="col-md-2">
						<a class="btn btn-primary btn-block" href="<%= new_karaoke_path %>">
				          Nuevo Local
				        </a>
				    </div>
				</div>
				<div class="row animate-box">
					<div class="row text-center">

						<div class="col-md-12 schedule-container">
							<div class="schedule-content active" data-day="sunday">
								<% @karaokes.each do |karaoke| %>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<%= image_tag "fit-yoga.svg", alt: "Cycling" %>
											<small>09PM-5AM</small>
											<h3><%= karaoke.address %></h3>
											<span><%= karaoke.name %></span>
											<span><%= karaoke.phone %></span>
										</div>
									</div>
								<% end %>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>