<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= content_for?(:title) ? yield(:title) : "Karaoke" %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Karaoke App" />
	<meta name="keywords" content="karaoke, bootstrap, html5, css3, responsive" />
	<meta name="author" content="Renzo y Yordic" />

  

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<%= stylesheet_link_tag "animate", media: "screen", rel: "stylesheet", type: "text/css" %>
	<!-- Icomoon Icon Fonts-->
	<%= stylesheet_link_tag "icomoon", media: "screen", rel: "stylesheet", type: "text/css" %>
	<!-- Bootstrap  -->
	<%= stylesheet_link_tag "bootstrap", media: "screen", rel: "stylesheet", type: "text/css" %>
	<!-- Superfish -->
	<%= stylesheet_link_tag "superfish", media: "screen", rel: "stylesheet", type: "text/css" %>

	<%= stylesheet_link_tag "style", media: "screen", rel: "stylesheet", type: "text/css" %>


	<!-- Modernizr JS -->
	<%= javascript_include_tag 'modernizr-2.6.2.min' %>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a href="index.html">Karaoke APP</a></h1>
						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li class="active">
									<%= link_to('Inicio', root_path) %>
								</li>
								<li>
									<%= link_to('Eventos', events_path) %>
								</li>
								<li>
									<%= link_to('Locales', karaokes_path) %>
								</li>
								<li>
									<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>		
		</div>
		<!-- end:fh5co-header -->
		<div class="fh5co-hero" style="background-image: black; height: 150px">
			<div class="fh5co-overlay"></div>
		</div>
		<%= yield %>
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 animate-box">
							<h3 class="section-title">About Us</h3>
							<p>Empresa con locales para karaoke y eventos.</p>
						</div>
						<div class="col-md-6 animate-box">
							<h3 class="section-title">Nuestra direccion</h3>
							<ul class="contact-info">
								<li><i class="icon-map-marker"></i>Av Primavera</li>
								<li><i class="icon-phone"></i>+ 01 123123123</li>
								<li><i class="icon-envelope"></i><a href="#">info@karaoke.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.karaoke.com</a></li>
							</ul>
						</div>
					</div>
					<div class="row copy-right">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p>Copyright 2016 Karaoke APP</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<%= javascript_include_tag 'jquery.min' %>
	<!-- jQuery Easing -->
	<%= javascript_include_tag 'jquery.easing.1.3' %>
	<!-- Bootstrap -->
	<%= javascript_include_tag 'bootstrap.min' %>
	<!-- Waypoints -->
	<%= javascript_include_tag 'jquery.waypoints.min' %>
	<!-- Stellar -->
	<%= javascript_include_tag 'jquery.stellar.min' %>
	<!-- Superfish -->
	<%= javascript_include_tag 'hoverIntent' %>
	<%= javascript_include_tag 'superfish' %>

	<!-- Main JS (Do not remove) -->
	<%= javascript_include_tag 'main' %>

	</body>
</html>